<div class="alert alert-danger" role="alert">There was an error with your credientials.  Please check them and try again.</div>
<div class="text-center"><a href="/" type="button" class="btn btn-labeled btn-info btn-lg"><span class="btn-label"><i class="glyphicon glyphicon-arrow-left"></i></span> Back to Form</a></div>