<h1 class="page-header">Setup <small>Set the max values for each element.</small></h1>

<div>
	<form class="settings form-horizontal" autocomplete="off" method="get" action="/go" onsubmit="execute();return false;">

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="UserName" class="col-sm-5 control-label">Admin Username</label>
					<div class="col-sm-7"><input type="text" class="form-control" id="UserName" name="UserName"/></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="UserKey" class="col-sm-5 control-label">Admin API Key</label>
					<div class="col-sm-7"><input type="text" class="form-control" id="UserKey" name="UserKey"/></div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="PublisherCount" class="col-sm-5 control-label">Number of Publishers</label>
					<div class="col-sm-7"><input type="number" min="1" max="10" class="form-control" id="PublisherCount" name="PublisherCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="BUCount" class="col-sm-5 control-label">Number of Business Units</label>
					<div class="col-sm-7"><input type="number" min="1" max="50" class="form-control" id="BUCount" name="BUCount" value="1"/></div>
				</div>
				<div class="form-group">
					<label for="LanguageCount" class="col-sm-5 control-label">Number of Languages</label>
					<div class="col-sm-7"><input type="number" min="1" max="10" class="form-control" id="LanguageCount" name="LanguageCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="UserCount" class="col-sm-5 control-label">Number of Users</label>
					<div class="col-sm-7"><input type="number" min="1" max="100" class="form-control" id="UserCount" name="UserCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="CategoryCount" class="col-sm-5 control-label">Number of Categories</label>
					<div class="col-sm-7"><input type="number" min="1" max="50" class="form-control" id="CategoryCount" name="CategoryCount" value="5"/></div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="ProjectCount" class="col-sm-5 control-label">Number of Projects</label>
					<div class="col-sm-7"><input type="number" min="1" max="20" class="form-control" id="ProjectCount" name="ProjectCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="ContentCount" class="col-sm-5 control-label">Number of Content Assets</label>
					<div class="col-sm-7"><input type="number" min="1" max="1000" class="form-control" id="ContentCount" name="ContentCount" value="50"/></div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">Content Types</label>
						<div class="col-sm-7">
							<div class="checkboxes">
								<div class="checkbox"><input type="checkbox" disabled="disabled" checked="checked"/> Text Post</div>
								<div class="checkbox"><input type="checkbox" disabled="disabled" checked="checked"/> Landing Page</div>
								<div class="checkbox"><input type="checkbox" /> Image Post</div>
								<div class="checkbox"><input type="checkbox" /> Video Post</div>
								<div class="checkbox"><input type="checkbox" /> File Upload</div>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div class="pull-right">
			<button id="save" type="submit" value="create" class="btn btn-lg btn-labeled btn-danger">Execute<span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span></button>
		</div>

	</form>
</div>