<h1 class="page-header">Setup <small>Set the max values for each element.</small></h1>

<div>
	<form class="settings form-horizontal" autocomplete="off" method="get" action="/go" onsubmit="execute();return false;">

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="UserName" class="col-sm-6 control-label">Admin Username</label>
					<div class="col-sm-6"><input type="text" class="form-control" id="UserName" name="UserName"/></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="UserKey" class="col-sm-6 control-label">Admin API Key</label>
					<div class="col-sm-6"><input type="text" class="form-control" id="UserKey" name="UserKey"/></div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="PublisherCount" class="col-sm-6 control-label">Number of Publishers (1 - 10)</label>
					<div class="col-sm-6"><input type="number" min="1" max="10" class="form-control" id="PublisherCount" name="PublisherCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="BUCount" class="col-sm-6 control-label">Number of Business Units (1 - 50)</label>
					<div class="col-sm-6"><input type="number" min="1" max="50" class="form-control" id="BUCount" name="BUCount" value="1"/></div>
				</div>
				<div class="form-group">
					<label for="LanguageCount" class="col-sm-6 control-label">Number of Languages (1 - 10)</label>
					<div class="col-sm-6"><input type="number" min="1" max="10" class="form-control" id="LanguageCount" name="LanguageCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="UserCount" class="col-sm-6 control-label">Number of Users (1 - 100)</label>
					<div class="col-sm-6"><input type="number" min="1" max="100" class="form-control" id="UserCount" name="UserCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="CategoryCount" class="col-sm-6 control-label">Number of Categories (1 - 50)</label>
					<div class="col-sm-6"><input type="number" min="1" max="50" class="form-control" id="CategoryCount" name="CategoryCount" value="5"/></div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="ProjectCount" class="col-sm-6 control-label">Number of Projects (1 - 20)</label>
					<div class="col-sm-6"><input type="number" min="1" max="20" class="form-control" id="ProjectCount" name="ProjectCount" value="5"/></div>
				</div>
				<div class="form-group">
					<label for="ContentCount" class="col-sm-6 control-label">Number of Content Assets (1 - 1000)</label>
					<div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="ContentCount" name="ContentCount" value="50"/></div>
				</div>
				<div class="form-group">
					<label class="col-sm-6 control-label">Content Types</label>
						<div class="col-sm-6">
							<div class="checkbox"><label><input type="checkbox" disabled="disabled" checked="checked"/> Text Post</label></div>
							<div class="checkbox"><label><input type="checkbox" disabled="disabled" checked="checked"/> Landing Page</label></div>
							<div class="checkbox"><label><input type="checkbox" name="ImagePost" /> Image Post</label></div>
							<div class="checkbox"><label><input type="checkbox" name="VideoPost" /> Video Post</label></div>
							<div class="checkbox"><label><input type="checkbox" name="FilePost" /> File Upload</label></div>
						</div>
				</div>
			</div>
		</div>

		<div class="pull-right">
			<button id="save" type="submit" value="create" class="btn btn-lg btn-labeled btn-danger"><i class="fa fa-user-secret"></i> Execute<span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span></button>
		</div>

	</form>
</div>