<div class="loading"><i class="fa fa-spinner fa-pulse"></i></div>
<div class="clock">
	<div class="stopwatch"></div>
	<button class="btn btn-default btn-sm hide" onclick="$('.stopwatch').stopwatch('start')">Start</button>
	<button class="btn btn-default btn-sm hide" onclick="$('.stopwatch').stopwatch('stop')">Stop</button>
	<button class="btn btn-default btn-sm hide" onclick="$('.stopwatch').stopwatch('reset')">Reset</button>
</div>
<h1 class="page-header">Status</h1>

<h3 class="pull-left">Publishers</h3>
<div class="status publishers-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Business Units</h3>
<div class="status business-units-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Authors</h3>
<div class="status users-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Categories</h3>
<div class="status categories-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Content Types</h3>
<div class="status content-types-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Projects</h3>
<div class="status projects-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Languages</h3>
<div class="status languages-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>

<h3 class="pull-left">Content</h3>
<div class="status content-status">
	<i class="fa fa-plus pull-right expander"></i>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
	</div>
	<div class="well well-sm"></div>
</div>