/* style.css */

.loading {
	position: fixed;
	display: table-cell;
	left: 0;
	right: 0;
	color: #fff;
	background-color: #000;
	bottom: 0;
	top: 50px;
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	z-index: 1000;
}

.loading i {
	position: absolute;
	top: 40%;
}

.navbar-brand {
	font-size: 15px;
	line-height: 14px;
	font-weight: bold;
	padding: 5px 0 5px 141px;
	margin-top: 15px;
	background: url("../images/oracle_logo_sm.png") no-repeat top left;
	float: left;
	height: auto;
}

form hr {
	margin-top: 5px;
}

.secret-button {
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.main-container {
	margin-top: 70px;
	margin-bottom: 50px;
}

.progress {
	clear: both;
}

.status .well {
	display: none;
}

.well .label {
	display: inline-block;
	margin: 0 2px;
	font-weight: normal;
}

.expander {
	margin-top: 25px;
	margin-right: 15px;
}

.page-header {
	margin-top: 20px;
}

/* custom checkboxes */

input[type=checkbox] {
	position: relative;
	cursor: pointer;
}

label>input[type=checkbox]:before {
	position: absolute;
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	font-family: FontAwesome;
	display: inline-block;
	content:"\f204";
}

label>input[type=checkbox]:checked:before {
	font-family: FontAwesome;
	display: inline-block;
	content:"\f205";
	color: green;
}

label>input[type=checkbox]:disabled {
	opacity: 0.5;
}

.clock {
	position: absolute;
	left: 25px;
}

.stopwatch {
	width: 150px;
	border-radius: 4px 4px;
	border: 2px solid #EEE;
	padding: 5px 10px;
	text-align: center;
	font-size: 25px;
}